<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Lalucia Rest Assured Suite">

    <test name="API Tests">

        <classes>

            <class name="tests.LoginTest"/>

            <class name="tests.AnnouncementTest"/>

            <class name="tests.UpdateAnnouncementTest"/>

            <class name="tests.DeleteAnnouncementTest"/>

            <class name="tests.CourseTest"/>

        </classes>

    </test>

</suite>